*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow:hidden;
}
.link{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 12;
    transform: translate(-50% , -50%);
    cursor: pointer;
    color: yellow;
    font-size: 2rem;
    background:transparent;
}