
@mixin padding($top, $right, $bottom, $left) {
    padding:$top $right $bottom $left;
}

@mixin textDecoration($val) {
    text-align:$val;
    @content;
}

main{
    width: $full-width;
    background-color: $background-color;
    min-height: 100vh;
}

.main{
    header{
        text-align: $text-align;
        @include padding(100px);
        h3{
            @include fontSize(2rem);
            color: #898a6c;
            @include textDecoration(center){
            text-transform: uppercase;
            text-decoration-line: underline;
            text-decoration-color:#b8be01;
            }
        }
    }
}