*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    margin-top: 1rem;
    padding: 4px;
    width: 450px;
    min-height: 600px;
    background-color: #2a2a2a;
    border-radius: 10px;
    border: 2px solid #363636;
}


.summary{
    width: 100%;
    display: flex;
    text-align: center;
}

.summary h4{
    width: 50%;
}

.listitem{
    list-style: none;
}

.listitem li{
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    border: 2px solid #363636;
    margin: 2px;
    border-radius: 5px;
}

form label{
    font-size: 1.2rem;
}
form input{
    width: 90%;
    padding: 4px;
}

.required{
    background-color: red;
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    transition: all .2s ease;
}