*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    padding: 4px;
    max-width: 450px;
    min-height: 600px;
    background-color: #2a2a2a;
    border-radius: 10px;
    border: 2px solid #363636;
}


.summary{
    width: 100%;
    display: flex;
    text-align: center;
}