.searchEntry{
    @include flexColumn;
    padding-top: 40px;

    .logo{
     letter-spacing: -5px;
     font-size: 2rem;
     font-weight: 600;
     margin-bottom: .5rem;
     @include mq(768px){
         font-size:4rem;
         letter-spacing: -10px;
     }
    }
    .searchBar{
        width: 90vw;
        display: flex;
        border: 2px solid $search-bar-border;
        border-radius: 500px;
        padding: .15rem .25rem .15rem .75rem;
        @include mq(768px) {
            width: 80vw;
            padding: 1.25rem;
        }
        @include mq(1025px){
            width: 60vw;
        }
    }
}